<html>
<head>
  <script src="https://use.fontawesome.com/ae84af77c9.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <div class="sideNav">
    <ul id="navElements">
      <a href="{{url_for('home')}}"><li class="items"><i class="fa fa-home" aria-hidden="true"></i></li></a>
      <a href="{{url_for('add')}}"><li class="items"><i class="fa fa-plus-square-o" aria-hidden="true"></i></li></a>
      <a href="{{url_for('customers')}}"><li class="items"><i class="fa fa-users" aria-hidden="true"></i></li></a>
      <br>
      <br>
      <a href="{{url_for('signIn')}}"><li class="items"><i class="fa fa-sign-out" aria-hidden="true"></i></li></a>
    </ul>
  </div>
  <div class="contentPane">
    <h1 id="greeting">Good Day Dentist!</h1>
    <br>
    <div id="today">
      <h2 class="todaySched">Add a Record</h2>
      <form action="/process" method="POST" action='/addCustomer'>
        <span>Patient Name</span>
        <input type="text" class="fields" name="Name">
        <br>
        <br>
        <span>Age</span>
        <input type="text" class="fields" name="Age">
        <br>
        <br>
        <span>Birthdate</span>
        <input type="text" class="fields" name="Bday">
        <br>
        <br>
        <span>Contact Number</span>
        <input type="text" class="fields" name="ContactNumber">
        <br>
        <br>
        <span>Date Added</span>
        <input type="text" class="fields" name="Date Added">
        <br>
        <br>
      </form>
      <button class="btn add">Add</button>
    </div>
  </div>
</body>

</html>
