

      <h2 class="todaySched">{{Name}}</h2>
      <h3>Age: {{Age}}</h3>
      <h3>Contact Number: {{ContactNumber}}</h3>
      <h3>Address: {{address}}</h3>
      <h2 class="todaySched">Add an Appointment</h2>
      <form action="">
        <span class="fieldName">Date</span>
        <input type="text" class="fields" name="Date" placeholder="YYYY-MM-DD"><br><br>
        <span class="fieldName">Time</span><br><br>
        <span>Start</span>
        <div style="display:inline-block; width:15%;" class="fields">
          <select class="form-control" name="service">
            <option value="Choose an option">Choose an Option</option>
            <option value="8:00-8:30">8:00-8:30</option>
            <option value="8:30-9:00">8:30-9:00</option>
            <option value="9:00-9:30">9:00-9:30</option>
            <option value="9:30-10:00">9:30-10:00</option>
            <option value="10:00-10:30">10:00-10:30</option>
            <option value="10:30-11:00">10:30-11:00</option>
            <option value="11:00-11:30">11:00-11:30</option>
            <option value="11:30-12:00">11:30-12:00</option>
            <option value="1:30-2:00">1:30-2:00</option>
            <option value="2:00-2:30">2:00-2:30</option>
            <option value="2:30-3:00">2:30-3:00</option>
            <option value="3:00-3:30">3:00-3:30</option>
            <option value="3:30-4:00">3:30-4:00</option>
            <option value="4:00-4:30">4:00-4:30</option>
            <option value="4:30-5:00">4:30-5:00</option>
          </select>
        </div>
        <br><br>
        <span>End</span>
        <div style="display:inline-block; width:15%;" class="fields">
          <select class="form-control" name="service">
            <option value="Choose an option">Choose an Option</option>
            <option value="8:00-8:30">8:00-8:30</option>
            <option value="8:30-9:00">8:30-9:00</option>
            <option value="9:00-9:30">9:00-9:30</option>
            <option value="9:30-10:00">9:30-10:00</option>
            <option value="10:00-10:30">10:00-10:30</option>
            <option value="10:30-11:00">10:30-11:00</option>
            <option value="11:00-11:30">11:00-11:30</option>
            <option value="11:30-12:00">11:30-12:00</option>
            <option value="1:30-2:00">1:30-2:00</option>
            <option value="2:00-2:30">2:00-2:30</option>
            <option value="2:30-3:00">2:30-3:00</option>
            <option value="3:00-3:30">3:00-3:30</option>
            <option value="3:30-4:00">3:30-4:00</option>
            <option value="4:00-4:30">4:00-4:30</option>
            <option value="4:30-5:00">4:30-5:00</option>
          </select>
        </div>
        <br><br>
        <span class="fieldName">Service to Render</span>
        <div style="display:inline-block; width:15%;" class="fields">
          <select class="form-control" name="service">
            <option value="Choose an option">Choose an Option</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Tooth Extraction">Tooth Extraction</option>
            <option value="Fillings">Fillings(Pasta)</option>
            <option value="Dentures">Dentures</option>
            <option value="X-ray">X-ray</option>
            <option value="Orthodontics">Orthodontics</option>
          </select>
        </div>
        <br>
        <br>
        <br>
        <button class="btn btn-primary">Sumbit</button>
      </form>
    </div>
