@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  max-width: 100%;
}

.sideNav{
  background-color: #263238;
  height: 100%;
  width: 7%;
  padding-top: 10%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
}
#navElements{
  list-style-type: none;
  padding: 0;
}
.items{
  color: #80CBC4;
  font-size: 3em;
  margin-bottom: 20px;
}
.items:hover{
  background-color: #EEEEEE;
  cursor: pointer;
}
.contentPane{
  background-color: #EEEEEE;
  height: 100%;
  width: auto;
  position: relative;
  left: 7%;
  top: 0;
}
#greeting{
  font-size: 4em;
  font-family: impact;
  color: white;
  text-indent: 10px;
  display: block;
  padding: 10px;
  background-color: #009688;
  margin-top: 0;
}
#headerLogo{
  margin-left: 1.8888%;
  height: 7%;
  width: auto;
}
#today{
  background-color: white;
  padding: 15px;
  margin-left: 3%;
  height: 100%;
}
.todaySched{
  font-size: 2.5em;
  font-family: Baloo;
}
table{
  width: 80%;
  cursor: pointer;
}
#table1{
  width: 50%;
  cursor: pointer;
}
table,th,td{
  border: 1px solid #009688;
}
th{
  background-color: #009688;
  color: white;
  text-align: center;
}
tr:hover{
  background-color: #80DEEA;
}
th,td{
  padding: 10px;
}
.selected{
  background-color: #80DEEA;
}
.updateContainer{
  display: none;
}
.fields{
  text-transform: uppercase;
  position: absolute;
  left: 17%;
  width: 15%;
  transition: all 0.5s ease-in-out;
  text-indent: 5px;
}
.fields:focus{
  width: 20%;
}
.add{
  position: absolute;
  left: 17%;
  width: 5%;
}
.headInfo{
  background-color: #ECEFF1;
  height: 7%;
  width: 100%;
  padding: 10px;
}
#infoTop{
  line-height: 100%;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: impact;
}
#searchPatients{
  width: 15%;
  transition: all 0.4s ease-in-out
}
#searchPatients:focus{
  width: 25%;
}
.cont{
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  max-width: 30%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(55, 71, 79,0.5);
}
label{
  color: white;
}
#logo{
  height: 30%;
  width: auto;
}
#logoNav{
  width: 6.5%;
  height: auto;
  position: fixed;
  left: 0.2%;
  top: 0;
}
.tableContainer{
  width: 75%;
  position: absolute;
  left: 40%;
  top: 14%;
}
.tableContainer1{
  width: 75%;
  position: absolute;
  left: 22%;
  top: 17%;
}
#signinBody{
  background-size: 100% 100%;
}
.searchItemsPane{
  background-color: #F5F5F5;
  padding: 15px;
  cursor: pointer;
}
.searchItemsPane:hover{
  border-left: solid orange;
}
.headerNames{
  font-family: Roboto;
  margin: 0;
}
.fieldName{
  font-size: 1.2em;
  font-weight: bold;
}
